* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
.custom-table-container{
  overflow-x: auto;
  max-width: 100%;
}
.is-custom-phone-height {
  height: 500px;
}
@media (max-width: 1600px) {
  .is-custom-phone-height {
    height: 450px;
  }
}
@media (max-width: 1000px) {
  .is-custom-phone-height {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .is-custom-phone-height {
    height: 300px;
    margin-left: -3.5em;
  }
}
