* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
.columns {
  margin: 0 !important;
}
.custom-table-container {
  max-width: 100%;
}
.is-custom-phone-height {
  height: 500px;
}
td {
  padding: 0.45rem 0.7rem !important;
}
.no-wrap {
  white-space: nowrap;
}
.break-word{
  word-break: break-word;
}
.max-width{
  max-width: 1920px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
@media (max-width: 1600px) {
  .is-custom-phone-height {
    height: 450px;
  }
}
@media (max-width: 1000px) {
  .is-custom-phone-height {
    height: 400px;
  }
  .is-hidden-small-screens{
    display: none;
  }
}
@media (max-width: 768px) {
  .is-custom-phone-height {
    height: 300px;
  }
  .spinner {
    margin-top: 1rem;
    width: 20%;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 950px) and (max-device-height: 600px) and (orientation: landscape) {
  .is-hidden-landscape {
    display: none;
  }
}
